# **Print Statement**

In [1]:
#Printing a simple message
print("Hello Howdy! :)")

Hello Howdy! :)

In [4]:
# Write a program to print your name, age, and favorite hobby.
First_name='Chandrika '
Last_name='Joshi'
age=20
Favorite_Hobby='Painting'
print(f"Hello, I am {First_name}{Last_name} my age is {age} and my favorite hobby is {Favorite_Hobby} ")

Hello, I am Chandrika Joshi my age is 20 and my favorite hobby is Painting

# **Variables and Data Type**

In [3]:
name='xyz'
age=35
height=5.9
is_student=False
print(f"My name is {name}, I am {age} years old, and my height is {height} feet.")

My name is xyz, I am 35 years old, and my height is 5.9 feet.

# **Basic Arithmetic**

In [5]:
num1=20
num2=34.6
print(f"Addition of {num1} and {num2} is :{num1+num2} ")
print(f"Subtraction of {num1} and {num2} is :{num1-num2} ")
print(f"Multiplication of {num1} and {num2} is :{num1*num2} ")
print(f"Division of {num1} and {num2} is :{num1/num2} ")

Addition of 20 and 34.6 is :54.6
Subtraction of 20 and 34.6 is :-14.600000000000001
Multiplication of 20 and 34.6 is :692.0
Division of 20 and 34.6 is :0.5780346820809248

# **Input from the User**

In [8]:
name=input("What is your name:")
favorite_color=input("What is your favorite color:")
print(name+' '+'likes'+' '+favorite_color)

Chandrika likes Black

# **String**

**We can write string in single quote and double quote**

In [1]:
'I told my friend, "python is my favorite language!"'
"The language 'python' is named after Monty python, not the snake."
"One of python's strength is its diverse and supportive community."

"One of python's strength is its diverse and supportive community."

### **Changing case in a String with Methods**

In [4]:
name="chandrika Joshi"
print(name.title())
print(name.upper())
print(name.lower())

Chandrika Joshi
CHANDRIKA JOSHI
chandrika joshi

**The title() method changes each word to title case, where each word begin with capital letter. The lower() method is particularly useful for storing data.**

### **Using Variable in String**

In [9]:
first_name="Chandrika"
last_name="Joshi"
full_name=f"{first_name} {last_name}"
print(full_name)
print(f"Hello {full_name.title()}!")

Chandrika Joshi
Hello Chandrika Joshi!

### **Adding Whitespace to String with Tabs or Newlines**

In [10]:
print("python")
print("\tpython")

python
	python

In [11]:
#Newline
print("Languages:\nHindi\nEnglish\nSpanish\nRussian\nArabic")

Languages:
Hindi
English
Spanish
Russian
Arabic

### **Stripping Whitespace**

In [15]:
favorite_language='python '
print(favorite_language)
print(favorite_language.rstrip())
favorite_language

python
python

'python '

In [3]:
first_name="Chandrika"
last_name="Joshi"
full_name="{} {}".format(first_name,last_name)
print(full_name)

Chandrika Joshi

# *Numbers*

In [4]:
#Underscore in Numbers
universe_age=14_000_000_000
print(universe_age)

14000000000

In [5]:
#Multiple assignment
x,y,z=1,2,0
print(x)
print(y)
print(z)

1
2
0

# **List**

**A list is a collection of items in a particular order. You can make a list that
includes the letters of the alphabet, the digits from 0–9, or the names of
all the people in your family. You can put anything you want into a list, and
bicycles.py 34 Chapter 3
the items in your list don’t have to be related in any particular way. Because
a list usually contains more than one element, it’s a good idea to make the
name of your list plural, such as letters, digits, or names.**

In [6]:
bicycles=['trek','cannondale','redline','specialized']
print(bicycles)
print(type(bicycles))

['trek', 'cannondale', 'redline', 'specialized']
<class 'list'>

In [7]:
print(bicycles[0])

trek

In [8]:
print(bicycles[0].title())

Trek

In [9]:
message=f"My first bicycle was a {bicycles[0].title()}."
print(message)

My first bicycle was a Trek.

### **Changing, Adding, and Removing Elements**

In [10]:
motorcycles=['honda','yamaha','suzuki']
print(motorcycles)
#changing value at potion o
motorcycles[0]='ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [12]:
#Adding elements to a list
motorcycles.append('honda')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'ducati', 'honda']

In [13]:
car=[]
car.append('BMW')
car.append('Audi')
car.append('Bugati')
car.append('Mercedes Benz')
car.append('RR')
print(car)

['BMW', 'Audi', 'Bugati', 'Mercedes Benz', 'RR']

In [14]:
#inserting element
car.insert(0,'Nano')
print(car)

['Nano', 'BMW', 'Audi', 'Bugati', 'Mercedes Benz', 'RR']

In [15]:
#Removing elements from a list
del car[0]
print(car)

['BMW', 'Audi', 'Bugati', 'Mercedes Benz', 'RR']

In [18]:
#Removing an item using pop()
car_poped=car.pop()
print(car)

['BMW', 'Audi']

In [20]:
print(car_poped)

Bugati

In [21]:
#Removing an item by value
motorcycles.remove('ducati')
print(motorcycles)

['yamaha', 'suzuki', 'ducati', 'honda']

In [22]:
#sorting a list
car.sort()
print(car)

['Audi', 'BMW']

In [24]:
car.append('Toyota')
print(car)

['Audi', 'BMW', 'Toyota']

In [25]:
car.insert(0,'subaru')
print(car)

['subaru', 'Audi', 'BMW', 'Toyota']

In [27]:
car.sort()
print(car)

['Audi', 'BMW', 'Toyota', 'subaru']

In [28]:
car.sort(reverse=True)
print(car)

['subaru', 'Toyota', 'BMW', 'Audi']

In [29]:
#Storing a list Temporarily with sorted() Function
print("Here is the original list:")
print(car)
print("\nHere is the sorted list:")
print(sorted(car))
print("\nHere is the original lsit again:")
print(car)

Here is the original list:
['subaru', 'Toyota', 'BMW', 'Audi']

Here is the sorted list:
['Audi', 'BMW', 'Toyota', 'subaru']

Here is the original lsit again:
['subaru', 'Toyota', 'BMW', 'Audi']

In [30]:
#Printing lsit in reverse order
car.reverse()
print(car)

['Audi', 'BMW', 'Toyota', 'subaru']

In [31]:
#Finding length of the lsit
len(car)

4

In [32]:
print(car[-1])

subaru

In [38]:
magicians=['alice','david','carolina']
for name in magicians:
    print(name)

alice
david
carolina

In [41]:
for woo in magicians:
    print(f"{woo.title()},that was a great trick!")
print("Thank you, everyone. That was great magic show!")

Alice,that was a great trick!
David,that was a great trick!
Carolina,that was a great trick!
Thank you, everyone. That was great magic show!

In [43]:
for woo in magicians:
    print(f"{woo.title()},that was a great trick!")
    print(f"I can't wait to see your next trick {woo.title()}")
    print("\n")

Alice,that was a great trick!
I can't wait to see your next trick Alice


David,that was a great trick!
I can't wait to see your next trick David


Carolina,that was a great trick!
I can't wait to see your next trick Carolina

In [44]:
#Making numarical list
for value in range(1,5):
    print(value)

1
2
3
4

In [46]:
#Using range() to make list of numbers
numbers=list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [47]:
even_list=list(range(2,10,2))
print(even_list)

[2, 4, 6, 8]

In [50]:

odd_list=list(range(1,10,2))
odd_list

[1, 3, 5, 7, 9]

In [55]:
squares=[]
for val in range(1,11):
    square=val**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
val=[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(min(val))
print(max(val))

0
9

In [58]:
#List Comprehension
squares=[val**2 for val in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]