# Set

In [4]:
my_set={1,2,3,4,5,6,6,7,3,2}
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [3]:
me_set=set([1,3,4,6,8,3,2,0,1,1,7])
print(me_set)

{0, 1, 2, 3, 4, 6, 7, 8}

In [5]:
print(type(me_set))
print(type(my_set))

<class 'set'>
<class 'set'>

In [7]:
my_empty_set=set()
print(my_empty_set)
print(type(my_empty_set))

set()
<class 'set'>

In [11]:
my_empty_set.add(7)

In [15]:
my_empety_set

{7}

In [18]:
me_set.add(10)
print(me_set)

{0, 1, 2, 3, 4, 6, 7, 8, 10}

In [20]:
me_set.remove(6)
print(me_set)

{0, 1, 2, 3, 4, 7, 8, 10}

In [24]:
me_set.discard(6)
print(me_set)

{0, 1, 2, 3, 4, 7, 8, 10}

**In case of remove function if the given value is't present in set it will give you an error but in the case of discard function it will simply give rest output without showing error**

In [27]:
removed_element=me_set.pop()
print(removed_element)
print(me_set)

0
{1, 2, 3, 4, 7, 8, 10}

In [29]:
me_set.clear()
print(me_set)

set()

In [31]:
print(1 in my_set)
print(20 in my_set)

True
False

In [33]:
set1=set([1,2,3,4])
set2=set([4,5,6,1])

In [35]:
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [37]:
uni_set=set2.union(set1)
print(uni_set)

{1, 2, 3, 4, 5, 6}

In [39]:
intersection_set=set1.intersection(set2)
print(intersection_set)

{1, 4}

In [41]:
intr=set2.intersection(set1)
print(intr)

{1, 4}

In [43]:
set1.intersection_update(set2)
print(set1)

{1, 4}

In [45]:
print(set1.difference(set2))

set()

In [47]:
print(set2.difference(set1))

{5, 6}

In [49]:
print(set1,set2)

{1, 4} {1, 4, 5, 6}

In [51]:
set1.symmetric_difference(set2)

{5, 6}

In [53]:
seta=set([1,2,3])
setb=set([3,4,5])
#is subset
print(seta.issubset(setb))

False

In [55]:
print(setb.issubset(seta))

False

In [57]:
#superset
print(seta.issuperset(setb))

False

In [59]:
lt=[1,2,3,4,5,4,2]
set(lt)

{1, 2, 3, 4, 5}

In [61]:
lt

[1, 2, 3, 4, 5, 4, 2]

In [63]:
lst_set=set(lt)
print(lst_set)
list=list(lst_set)
print(list)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [65]:
#count unique words
text="""I hope this message finds you well. My name is Chandrika Joshi, and I am currently pursuing my master’s in Data Science and Statistics. I am deeply interested in pursuing a PhD and would like to inquire about the opportunities available through the Knight-Hennessy Scholars program.

Could you kindly provide information about the application process, eligibility requirements, and how the program supports scholars in their academic and research journey? I am particularly interested in understanding how this program aligns with my aspirations in the field of data science and its potential impact on my future research goals.

 """
words=text.split()

#convert list of words to set to get unique words
uniqe_words=set(words)

In [67]:
print(uniqe_words)

{'data', 'deeply', 'my', 'program.', 'opportunities', 'PhD', 'journey?', 'would', 'with', 'scholars', 'provide', 'application', 'process,', 'to', 'impact', 'Statistics.', 'available', 'Joshi,', 'Science', 'program', 'on', 'My', 'academic', 'and', 'this', 'particularly', 'currently', 'finds', 'like', 'science', 'potential', 'is', 'message', 'goals.', 'master’s', 'research', 'well.', 'aligns', 'aspirations', 'its', 'you', 'hope', 'the', 'future', 'field', 'a', 'information', 'am', 'interested', 'I', 'in', 'Data', 'eligibility', 'requirements,', 'supports', 'inquire', 'through', 'Could', 'how', 'understanding', 'kindly', 'their', 'about', 'Knight-Hennessy', 'Chandrika', 'pursuing', 'name', 'Scholars', 'of'}

# Dictionaries

In [1]:
#create dictionaries
dictionary={}
print(type(dictionary))

<class 'dict'>

In [3]:
empty=dict()
print(type(empty))

<class 'dict'>

In [9]:
dict_min=dict({"Name":"MRM","Age":20,"City":"Dubai"})

In [11]:
print(dict_min)

{'Name': 'MRM', 'Age': 20, 'City': 'Dubai'}

In [15]:
#accesing dictionary element
dict_min['Name']

'MRM'

In [17]:
dict_min['Age']

20

In [19]:
#accessing using get() method
dict_min.get('City')

'Dubai'

In [23]:
print(dict_min.get('Last Name'))

None

In [25]:
print(dict_min.get('Last Name',"Not availabe"))

Not availabe

In [27]:
#Modifyinf Dictionary elements
#Dictionary are mutable so you can add update and delete elements 
print(dict_min)

{'Name': 'MRM', 'Age': 20, 'City': 'Dubai'}

In [29]:
#add new key and update age
dict_min['Age']=21
dict_min["Address"]="UK"
print(dict_min)

{'Name': 'MRM', 'Age': 21, 'City': 'Dubai', 'Address': 'UK'}

In [31]:
#Delete the key
del dict_min['Address']
print(dict_min)

{'Name': 'MRM', 'Age': 21, 'City': 'Dubai'}

In [49]:
#Dictionary methods
kk=dict_min.keys() #all the keys
print(kk)
values=dict_min.values() #all the values
print(values)

items=dict_min.items() #all key value pairs
print(items)

dict_keys(['Name', 'Age', 'City'])
dict_values(['MRM', 21, 'Dubai'])
dict_items([('Name', 'MRM'), ('Age', 21), ('City', 'Dubai')])

In [43]:
#shallow copy
dict_copy=dict_min
print(dict_min)
print(dict_copy)

{'Name': 'MRM', 'Age': 21, 'City': 'Dubai'}
{'Name': 'MRM', 'Age': 21, 'City': 'Dubai'}

In [51]:
copy_dict=dict_min.copy() #shallow
print(copy_dict)
print(dict_min)

{'Name': 'MRM', 'Age': 21, 'City': 'Dubai'}
{'Name': 'MRM', 'Age': 21, 'City': 'Dubai'}

In [53]:
dict_min['City']='Rishikesh'
print(dict_min)
print(copy_dict)

{'Name': 'MRM', 'Age': 21, 'City': 'Rishikesh'}
{'Name': 'MRM', 'Age': 21, 'City': 'Dubai'}

In [55]:
#iterating over dictionaries
#can use loops to iterate over dictionaries,keys ,values, or items

#Iterating over keys
for keys in dict_min.keys():
    print(keys)

Name
Age
City

In [57]:
for values in dict_min.values():
    print(values)

MRM
21
Rishikesh

In [59]:
for items in dict_min.items():
    print(items)

('Name', 'MRM')
('Age', 21)
('City', 'Rishikesh')

In [61]:
# Nested dictionaries
# dict inside dict
dicto={
    'Student1':{'Name':'mrm','age':20},
    'Student2':{'Name':'Chandrika','age':20}
          
}
print(dicto)

{'Student1': {'Name': 'mrm', 'age': 20}, 'Student2': {'Name': 'Chandrika', 'age': 20}}

In [65]:
#Access nested dictionaries elements
print(dicto['Student1']['Name'])

mrm

In [67]:
#iterating over nested dictionaries
for items in dicto.items():
    print(items)

('Student1', {'Name': 'mrm', 'age': 20})
('Student2', {'Name': 'Chandrika', 'age': 20})

In [71]:
for student_id,student_info in dicto.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

Student1:{'Name': 'mrm', 'age': 20}
Name:mrm
age:20
Student2:{'Name': 'Chandrika', 'age': 20}
Name:Chandrika
age:20

In [73]:
#Dictionary comprehsion
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [75]:
#condition dictionary comprehension
evens={x:x**1 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 2, 4: 4, 6: 6, 8: 8}

In [77]:
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [83]:
#use a dictionary to count the frequeny elements in list
numbers=[1,2,3,3,6,4,8,9,3,6]
frequency={}
for numbers in numbers:
    if numbers in frequency:
        frequency[numbers]+=1
    else:
        frequency[numbers]=1

In [85]:
print(frequency)

{1: 1, 2: 1, 3: 3, 6: 2, 4: 1, 8: 1, 9: 1}

In [87]:
lst=['data', 'deeply', 'my', 'program.', 'opportunities', 'PhD', 'journey?', 'would', 'with', 'scholars', 'provide', 'application', 'process,', 'to', 'impact', 'Statistics.', 'available', 'Joshi,', 'Science', 'program', 'on', 'My', 'academic', 'and', 'this', 'particularly', 'currently', 'finds', 'like', 'science', 'potential', 'is', 'message', 'goals.', 'master’s', 'research', 'well.', 'aligns', 'aspirations', 'its', 'you', 'hope', 'the', 'future', 'field', 'a', 'information', 'am', 'interested', 'I', 'in', 'Data', 'eligibility', 'requirements,', 'supports', 'inquire', 'through', 'Could', 'how', 'understanding', 'kindly', 'their', 'about', 'Knight-Hennessy', 'Chandrika', 'pursuing', 'name', 'Scholars', 'of']
frequency={}
for value in lst:
    if value in frequency:
        frequency[value]+=1
    else:
        frequency[value]=1
print(frequency)

{'data': 1, 'deeply': 1, 'my': 1, 'program.': 1, 'opportunities': 1, 'PhD': 1, 'journey?': 1, 'would': 1, 'with': 1, 'scholars': 1, 'provide': 1, 'application': 1, 'process,': 1, 'to': 1, 'impact': 1, 'Statistics.': 1, 'available': 1, 'Joshi,': 1, 'Science': 1, 'program': 1, 'on': 1, 'My': 1, 'academic': 1, 'and': 1, 'this': 1, 'particularly': 1, 'currently': 1, 'finds': 1, 'like': 1, 'science': 1, 'potential': 1, 'is': 1, 'message': 1, 'goals.': 1, 'master’s': 1, 'research': 1, 'well.': 1, 'aligns': 1, 'aspirations': 1, 'its': 1, 'you': 1, 'hope': 1, 'the': 1, 'future': 1, 'field': 1, 'a': 1, 'information': 1, 'am': 1, 'interested': 1, 'I': 1, 'in': 1, 'Data': 1, 'eligibility': 1, 'requirements,': 1, 'supports': 1, 'inquire': 1, 'through': 1, 'Could': 1, 'how': 1, 'understanding': 1, 'kindly': 1, 'their': 1, 'about': 1, 'Knight-Hennessy': 1, 'Chandrika': 1, 'pursuing': 1, 'name': 1, 'Scholars': 1, 'of': 1}

In [91]:
#merge two dictionary
dict1={'a':1,'b':2}
dict2={'b':3,'c':4}
merged_dict={**dict1,**dict2} #keywords argument
print(dict1)
print(dict2)
print(merged_dict)

{'a': 1, 'b': 2}
{'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

**Lists are one of the most commomly used data structures in python**

# Functions

In [4]:
def multyply(a,b):
    return a*b
multyply(1,2)

2

## Temperature conversion

In [8]:
#Temperature conversion
def convert_temp(temp,unit):
    'This function convert temperature to celcius and Fahrenheit'
    if unit=='C':
        return temp*9/5+32 #celsius to Fahrenheit
    elif unit=='F':
        return (temp-32)*5/9 #f to c
    else:
        return Null
print(convert_temp(25,'C'))
print(convert_temp(77,'F'))

77.0
25.0

In [18]:
temp=int(input("Enter the Temperature:"))
unit=input("Enter the unit of Temperature:")
def convert_temperature(temp,unit):
    if unit=='C':
        return (temp*9/5)+32 #Celsius to Fahrenheit
    elif unit=='F':
        return (temp-32)*5/9 #Fahrenheit to Celsius
    else:
        return 'None'
Answer=convert_temperature(temp,unit)
print(f"The actual temperature is:{temp}{unit} and converted into:{Answer}")

Enter the Temperature: 25
Enter the unit of Temperature: C

The actual temperature is:25C and converted into 77.0

## Password Strength Checker

In [21]:
def password_strength_checker(password):
    if len(password)==6:
        print("This is good password")
    if len(password)<6:
        print("Password is weak :( Try again")
    if len(password)>6&len(password)<10:
        print("The password is strong :)")

password=input("Enter your password:")
print(password_strength_checker(password))

Enter your password: chandrika7

The password is strong :)
None

In [23]:
def is_strong_password(password):
    if len(password)<6:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&()+_*' for char in password):
        return False
    return True
password=input("Enter your password:")
response=is_strong_password(password)
print(f"The password is: {password} is ={response}")

Enter your password: Chandrika$7

The password is: Chandrika$7 is =True

## Calculate the Total Cost of Items in a Shopping Cart

In [27]:
def cost_calcu(cart):
    total_cost=0
    for item in cart:
        total_cost+=item['price']*item['quantity']
    return total_cost

#Example cart data
cart=[
    {'name':'Apple','price':0.5,'quantity':4},
    {'name':'Banana','price':0.3,'quantity':9},
    {'name':'Orange','price':0.8,'quantity':40},
    {'name':'Pie','price':0.9,'quantity':7}
]
cost_calcu(cart)

43.0

## Check if string is Palindrome

In [5]:
# fromfront and back both are same is palindrome
def is_palindrome(s):
    s=s.lower().replace(" "," ")
    return s==s[::-1]
print(is_palindrome('panama'))
print(is_palindrome('Hello'))

False
False

## Calculate Factorial of a number using recursion

In [10]:
def fect(numb):
    if numb==0:
        return 1
    else:
        return numb*fect(numb-1)
numb=int(input("Enter your number:"))
print(fect(numb))

Enter your number: 6

720

## Function to read a file and count the frequency of each word

In [ ]:
def count_word_frequency(file_path):
    word_count={}
    with open(file_path,'r') as file:
        for line in file:
            words=line.split()
            for word in word:
                word=word.lower().strip()

# Lambda Function

**Lambda functions are small anonymous functions define using the lambda keyword. They can have any numbeof arguments but only one expression. They are commonly used for short operations or as arguments to higher-order functions.**

In [6]:
#Syntax
lambda arguments: expression

In [8]:
def addition(a,b):
    return a+b

In [12]:
addition(4,3)

7

In [16]:
add=lambda a,b:a+b
print(add(4,2))
print(type(add))

6
<class 'function'>

In [18]:
even1=lambda num:num%2==0
print(even1(20))

True

In [20]:
three_addition=lambda x,y,z:x+y+z
print(three_addition(2,5,6))

13

In [36]:
numbers=[1,2,3,4,5,6]
#squared_number
def squared(numbers):
    return numbers**2
print(squared(6))
##map()
list(map(lambda x:x**2,numbers))

36

[1, 4, 9, 16, 25, 36]

# Map Function

**The map function applies a given function to all items in an input list(or any other iterable) and returns a map object(an iterator). This is particularly useful for transforming data in a list comprehensively.**

In [41]:
numbers=[2,4,6,8,10,4]
list(map(lambda x:x**2,numbers))

[4, 16, 36, 64, 100, 16]

In [45]:
list(map(squared,numbers))

[4, 16, 36, 64, 100, 16]

In [53]:
#map multiple iterables
numb1=[4,5,6]
numb2=[1,2,3]
list(map(lambda x,y:x+y,numb1,numb2))

[5, 7, 9]

In [55]:
#map to convert a list of strings to integers
#use map to convert strings to integers
str_numbers=['1','2','3','4','5']
int_numbers=list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [57]:
words=['apple','banana','berry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'BERRY']

In [63]:
def get_name(person):
    return person['name']
people=[
    {'name':'Chandrika','age':20},
    {'name':'Xyz','age':23}
]
list(map(get_name,people))

['Chandrika', 'Xyz']

**map() function is powerful tool for applying transformations to iterable data structures. It can be used with regular functions, lambda functions, and even multiple iterables, providing a versatile approach to data processing in python.**

# Filter Function

**filter() function construct an iterator from elements of an iterable for which a function returns true. It is used to filter out items from a list(or any other iterable) based on a condition.**

In [76]:
def even(num):
    if num%2==0:
        print(num)
even(4)

4

In [80]:
lst=[3,4,6,2,1,7,9,0]
print(list(filter(even,lst)))

4
6
2
0
[]

In [82]:
#Filter with lambda function
number=[1,2,3,4,5,6,7,8]
greater_five=list(filter(lambda x:x>5,number))
print(greater_five)

[6, 7, 8]

In [84]:
#Filter with lambda function and multiple condition
number=[1,3,4,2,5,6,8,9,7,10,22]
even_greater_then_five=list(filter(lambda x:x>5 and x%2==0,number))
print(even_greater_then_five)

[6, 8, 10, 22]

In [88]:
# check if the age is greater than 25 in dict
people=[
    {'name':'Chandrika','age':20},
    {'name':'Xyz','age':23},
    {'name':'wooou','age':30}]
def greater_than_25(person):
    return person['age']>25
lst=list(filter(greater_than_25,people))
lst

[{'name': 'wooou', 'age': 30}]